<md-card >
    <md-card-title>
    <md-card-title-text>
        <span class="md-headline">{{$ctrl.item.deal.name}}</span>
        <span class="md-subhead">{{$ctrl.item.deal.description}}</span>
        <span class="md-subhead">@{{$ctrl.item.deal.location}}</span>
    </md-card-title-text>
    <md-card-title-media>
        <div class="md-media-lg card-media">
            <img src={{$ctrl.item.deal.img}}>

        </div>
    </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.removeFromWallet()">Remove From Wallet</md-button>
    </md-card-actions>

</md-card>
