<div class='app'>
    <div class='explore'>
        <titlebar></titlebar>
        <div class="container">
          <div class="row">
            <div class="col-md">
              <ul>
                  <dealitem ng-repeat="deal in $ctrl.deals" data="$ctrl.data"
                      deal="deal" add-wallet="$ctrl.addToWallet($deal)" share-event="$ctrl.goToDeal($deal)">
                  </dealitem>
              </ul>

              <!-- pager -->
              <!-- ng-if="ctrl.pager.pages.length > 0"  -->

          		<ul  ng-if="$ctrl.pager.pages.length" class="pagination" >
          			<li ng-class="{disabled:$ctrl.pager.currentPage === 1}">
          				<a ng-click="$ctrl.setPage(1)">First</a>
          			</li>
          			<li ng-class="{disabled:$ctrl.pager.currentPage === 1}">
          				<a ng-click="$ctrl.setPage($ctrl.pager.currentPage - 1)">Previous</a>
          			</li>
          			<li ng-repeat="page in $ctrl.pager.pages" ng-class="{active:$ctrl.pager.currentPage === page}">
          				<a ng-click="$ctrl.setPage(page)">{{page}}</a>
          			</li>
          			<li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
          				<a ng-click="$ctrl.setPage($ctrl.pager.currentPage + 1)">Next</a>
          			</li>
          			<li ng-class="{disabled:$ctrl.pager.currentPage === $ctrl.pager.totalPages}">
          				<a ng-click="$ctrl.setPage($ctrl.pager.totalPages)">Last</a>
          			</li>
          		</ul>
            </div>

            <div class="col-md">
                <nearme></nearme>
            </div>
          </div>
        </div>




        <div>Contact Us!</div>
        <div>address</div>
        <div>email</div>
        <div>phone</div>
    </div>
</div>
