<md-card>
    <md-card-title>
    <md-card-title-text>
        <span class="md-headline">{{$ctrl.deal.attributes.name}}</span>
        <span class="md-subhead">{{$ctrl.deal.attributes.description}}</span>
        <span class="md-subhead">@{{$ctrl.deal.attributes.location}}</span>
        <!-- <span class="md-subhead">Value saved: {{$ctrl.deal.value_saved}}</span> -->
    </md-card-title-text>
    <md-card-title-media>
        <div class="md-media-lg card-media">
            <img alt='' src={{$ctrl.deal.attributes.img}}>

        </div>
    </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="$ctrl.addToWallet()">Add to Wallet</md-button>
    <md-button ng-click="$ctrl.share($ctrl.deal)">Share</md-button>
    </md-card-actions>

</md-card>
