<div class='app'>
    <div class='deal'>
        <h1>Deal</h1>
            <md-card >
                <md-card-title>
                <md-card-title-text>
                        <span class="md-headline">{{$ctrl.data['deals'][$ctrl.list].name}}</span>
                        <span class="md-subhead">{{$ctrl.data['deals'][$ctrl.list].description}}</span>
                        <span class="md-subhead">@{{$ctrl.data['deals'][$ctrl.list].location}}</span>
                        <span class="md-subhead">Value saved: {{$ctrl.data['deals'][$ctrl.list].value_saved}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"> 
                            <img src={{$ctrl.data['deals'][$ctrl.list].img}}> 
                        </div>
                    </md-card-title-media>
                    </md-card-title>
            </md-card>
    </div>
</div>