<div class='app'>
    <div class='wallet'>
        <h1>Your wallet:</h1>
        <ul>
            <li ng-repeat="deal in $ctrl.data['wallets'][0]" ng-if="deal.valid===1">
                <md-card >
                    <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{deal.name}}</span>
                        <span class="md-subhead">{{deal.description}}</span>
                        <span class="md-subhead">@{{deal.location}}</span>
                        <span class="md-subhead">Value saved: {{deal.value_saved}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-lg card-media"> 
                            <img src={{deal.img}}> 

                        </div>
                    </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="$ctrl.removeFromWallet(0, deal)">Remove From Wallet</md-button>
                    </md-card-actions>
                </md-card>
            </li>
        </ul>
    </div>
</div>

